body {
  font-family: 'Poppins', sans-serif;
  background: #f6f6f6;
  color: #222;
  margin: 0;
}

.os-wrap {
  max-width: 920px;
  margin: 0 auto;
  padding: 50px 22px;
}

h1 {
  font-size: 24px; /* 원하는 크기로 조절 (예: 20px, 18px도 가능) */
  font-weight: 600;
  margin-bottom: 8px;
  margin-left: 3px;
}

.os-desc {
  color: #777;
  margin-bottom: 7px;
  margin-left: 2px;
  font-size: 12px;
}

.os-form {
  display: flex;
  gap: 10px;
  margin-bottom: 36px;
}

.os-form input {
  flex: 1;
  padding: 12px 16px;
  border: 1px solid #d2d2d2;
  border-radius: 0px;
  font-size: 15px;
  background: #fff;
}

.os-form button {
  padding: 12px 20px;
  border: none;
  background: #000;
  color: white;
  cursor: pointer;
  border-radius: 0px;
  font-weight: 500;
  transition: opacity .2s;
}



.os-card {
  background: white;
  padding: 20px 30px;
  border-radius: 0px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.05);
  margin-bottom: 30px;
}

.os-card h2 {
  font-size: 15px;
  margin-bottom: 35px;
  font-weight: 500;
}

#shippingInfo p,
#invoiceInfo p,
#orderInfo p {
  margin: 7px 0;
  font-size: 12px;
  font-weight: 200;
}

#shippingInfo strong,
#invoiceInfo strong {
  font-weight: 400;
}

.os-card a {
  color: #4A62FF;
  text-decoration: none;
  font-weight: 500;
}

.os-card a:hover {
  text-decoration: underline;
}

.back-btn {
  display: block;
  margin: 40px auto 40px auto;
  padding: 12px 24px;
  background: #000;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background 0.2s ease;
}

.back-btn:hover {
  background: #333;
}


.step-with-detail {
  margin-bottom: 18px;
}

.step {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #999;
  font-size: 13px;
}

.step.active-text {
  color: #222;
  font-weight: 500;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #dcdcdc;
  transition: background .22s ease, transform .22s ease;
}

.dot.active {
  background: #4A62FF;
  transform: scale(1.05);
}

.inline-detail {
  margin-left: 26px;
  margin-top: 8px;
  padding-left: 14px;
  border-left: 2px solid #eee;
  font-size: 12px;
}

.inline-detail a {
  color: #4A62FF;
  text-decoration: none;
  font-weight: 500;
}

.inline-detail a:hover {
  text-decoration: underline;
}